[user]
	email = cbarrick1@gmail.com
	name = Chris Barrick
[core]
	excludesfile = ~/.gitignore
	notesRef = refs/notes/csb
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
	autoSquash = true
[alias]
	l = --no-pager log -20 --oneline
