[user]
email = cbarrick1@gmail.com
name = Chris Barrick
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAII5No2gSiUzEbaXznEcOCxDXmUW0+SKcLXHvK7pS6h6C csb@samus.home.cbarrick.dev

[gpg]
format = ssh

[gpg "ssh"]
allowedSignersFile = ~/.gitconfig.d/allowed_signers

[core]
excludesfile = ~/.gitignore

[init]
defaultBranch = main

[commit]
gpgsign = true

[rebase]
autoSquash = true

[push]
default = current

[pull]
rebase = true

[filter "lfs"]
clean = git-lfs clean %f
smudge = git-lfs smudge %f
required = true

[alias]
b = "!git --no-pager branch --verbose --verbose"
t = "!git --no-pager tag"
r = "!git --no-pager remote"
s = "!git --no-pager status --short --branch --untracked-files=normal"
l = "!git --no-pager log -20 --oneline"
ll = "!git log --oneline"
co = "!git checkout"
amend = "!git commit --amend --no-edit"
