[user]
name = Chris Barrick
email = cbarrick1@gmail.com
signingkey = 1053AF4DA678FEF285A06005FFD9B129EF9B0DF2

[gpg]
program = gpg-sq

[gpg "ssh"]
allowedSignersFile = ~/.gitconfig.d/allowed_signers

[core]
excludesfile = ~/.gitignore

[init]
defaultBranch = main

[commit]
gpgsign = true

[rebase]
autoSquash = true

[push]
default = current

[pull]
rebase = true

[tag]
gpgsign = true

[filter "lfs"]
clean = git-lfs clean %f
smudge = git-lfs smudge %f
required = true

[alias]
b = "!git --no-pager branch --verbose --verbose"
t = "!git --no-pager tag"
r = "!git --no-pager remote"
s = "!git --no-pager status --short --branch --untracked-files=normal"
l = "!git --no-pager log -20 --oneline"
ll = "!git log --oneline"
co = "!git checkout"
amend = "!git commit --amend --no-edit"
