'exception-reporting':
  'userId': '4ede4c68-00cd-67d7-cb87-fdf5f325df2b'
'release-notes':
  'viewedVersion': '0.73.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '35a1c8fd015943f28e11c8894ffaf446d8d57501'
'editor':
  'softTabs': false
  'tabLength': 4
  'softWrap': true
  'fontSize': 13
  'invisibles':
    'cr': '↩'
  'preferredLineLength': 100
'core':
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'projectHome': '/Users/csb/Dev'
  'spell-check':
    'grammars': [
      'source.gfm'
      'text.git-commit'
      'text.plain'
      'text.plain.null-grammar'
    ]
  'autosave':
    'enabled': true
  'tree-view':
    'showOnRightSide': true
    'hideIgnoredNames': true
    'hideVcsIgnoredFiles': true
  'disabledPackages': [
    'autocomplete-plus'
  ]
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
  'showOnRightSide': true
'autocomplete': {}
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
  'liveCompletion': true
'autosave': {}
'markdown-preview':
  'grammars': [
    'source.gfm'
    'source.litcoffee'
    'text.plain'
    'text.plain.null-grammar'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
'remember-window':
  'width': 1086
  'height': 805
  'x': 367
  'y': 117
