@import (reference) "syntax-variables";
@import (reference) "ui-variables";

atom-workspace {

	// Make text easier on the eyes.
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// Turn off ligatures in strings and regexp.
	atom-text-editor.editor .syntax--string.syntax--quoted,
	atom-text-editor.editor .syntax--string.syntax--regexp {
		-webkit-font-feature-settings: "liga" off, "calt" off;
	}

	// Disable vertical scrolling in markdown-preview code blocks.
	.markdown-preview {
		position: relative;
		z-index: 2;
		background: transparent;
		atom-text-editor.editor {
			position: relative;
			z-index: -1;
		}
	}

	// Show invisibles only in selection.
	.invisible-character {
		color: @syntax-background-color;
		&.indent-guide {
			box-shadow: inset 1px 0 0 0 @syntax-indent-guide-color;
		}
	}

	// The minimap-autohide and minimap-autohider packages
	// add an ugly background to the minimap. Remove it.
	atom-text-editor-minimap {
		background: transparent;
	}

	// Hide the native scrollbar.
	::-webkit-scrollbar {
		display: none;
	}

}
