@import (reference) "syntax-variables";
@import (reference) "ui-variables";

atom-workspace {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	atom-text-editor.editor {
		// Show invisibles only in selection
		.invisible-character {
			color: @syntax-background-color;
			&.indent-guide {
				box-shadow: inset 1px 0 0 0 @syntax-indent-guide-color;
			}
		}

		// // Pulse the cursor
		// .cursor {
		// 	transition: opacity 0.4s;
		// }

		atom-text-editor-minimap {
			background: transparent;
			position: absolute;
			left: auto;
			opacity: 0;
			transition: opacity 0.7s;
			&.scrolling, &:hover {
				opacity: 1;
			}
		}
		::-webkit-scrollbar {
			display: none;
		}
	}
}
