@import (reference) "syntax-variables";
@import (reference) "ui-variables";

atom-workspace {

	// Make text easier on the eyes.
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;

	// Turn off ligatures in strings and regexp
	atom-text-editor.editor .syntax--string.syntax--quoted,
	atom-text-editor.editor .syntax--string.syntax--regexp {
		-webkit-font-feature-settings: "liga" off, "calt" off;
	}

	// Disable vertical scrolling in markdown-preview code blocks
	.markdown-preview {
		position: relative;
		z-index: 2;
		background: transparent;
		atom-text-editor.editor {
			position: relative;
			z-index: -1;
		}
	}

	// Show invisibles only in selection
	.invisible-character {
		color: @syntax-background-color;
		&.indent-guide {
			box-shadow: inset 1px 0 0 0 @syntax-indent-guide-color;
		}
	}

	// // Pulse the cursor
	// .cursor {
	// 	transition: opacity 0.4s;
	// }

	// The minimap-autohide and minimap-autohider packages
	// add an ugly background to the minimap. Remove it.
	atom-text-editor-minimap {
		background: transparent;
	}

	// Hide the native scrollbar.
	::-webkit-scrollbar {
		display: none;
	}

	// .title-bar {
	// 	position: absolute;
	// 	right: 0;
	// 	left: 0;
	// 	opacity: 0;
	// 	z-index: 0;
	// 	// display: none;
	// }
	// .tab-bar {
	// 	position: relative;
	// 	left: 88px;
	// 	right: 88px;
	// 	height: 38px;
	// 	width: 100%;
	// 	.tab {
	// 		position: relative;
	// 		height: 2.5em;
	// 		top: 8px;
	// 		bottom: 0;
	// 		z-index: 2;
	// 	}
	// }
}
